/build
/windows/out
/android/build
/android/.kotlin
/android/gradlew
/android/gradlew.bat
/android/gradle/wrapper/gradle-wrapper.jar
/android/local.properties
/android/app/src/main/jniLibs/arm64-v8a/libc++_shared.so
/ios/.symlinks
