# common
/**/*                                        binary

# general - article
/**/*.txt                                    text eol=lf
/**/*.md                                     text eol=lf

# general - script
/**/*.sh                                     text eol=lf
/**/*.ps1                                    text eol=lf

# general - configuration
/**/*.json                                   text eol=lf
/**/*.yaml                                   text eol=lf
/**/*.xml                                    text eol=lf
/**/*.plist                                  text eol=lf
/**/*.properties                             text eol=lf
/**/*.desktop                                text eol=lf

# general - media
/**/*.ico                                    binary
/**/*.png                                    binary
/**/*.svg                                    text eol=lf

# language - c/c++
/**/*.h                                      text eol=lf
/**/*.c                                      text eol=lf
/**/*.cc                                     text eol=lf
/**/*.hpp                                    text eol=lf
/**/*.cpp                                    text eol=lf
/**/*.cppm                                   text eol=lf

# language - typescript
/**/*.ts                                     text eol=lf
/**/tsconfig.json                            text eol=lf

# language - dart
/**/*.dart                                   text eol=lf

# language - kotlin
/**/*.kt                                     text eol=lf
/**/*.kts                                    text eol=lf

# language - swift
/**/*.swift                                  text eol=lf

# language - lua
/**/*.lua                                    text eol=lf

# language - python
/**/*.py                                     text eol=lf

# environment - git
/**/.git*                                    text eol=lf

# environment - editconfig
/**/.editorconfig                            text eol=lf

# environment - cmake
/**/CMakeLists.txt                           text eol=lf
/**/*.cmake                                  text eol=lf

# environment - xmake
/**/xmake.lua                                text eol=lf

# environment - node.js
/**/package.json                             text eol=lf

# environment - gradle
/**/gradlew                                  text eol=lf
/**/gradlew.bat                              text eol=crlf
/**/gradle.properties                        text eol=lf
/**/settings.gradle.kts                      text eol=lf
/**/build.gradle.kts                         text eol=lf
/**/gradle/wrapper/gradle-wrapper.properties text eol=lf
/**/gradle/wrapper/gradle-wrapper.jar        binary

# environment - flutter
/**/pubspec.yaml                             text eol=lf
/**/analysis_options.yaml                    text eol=lf
/**/devtools_options.yaml                    text eol=lf

# environment - visual studio
/**/*.rc                                     text eol=crlf
/**/*.def                                    text eol=crlf
/**/*.manifest                               text eol=crlf
/**/*.appxmanifest                           text eol=crlf
/**/AppxManifest.xml                         text eol=crlf

# environment - xcode
/**/*.pbxproj                                text eol=lf
/**/*.xcworkspacedata                        text eol=lf
/**/*.xcconfig                               text eol=lf
/**/*.xcsettings                             text eol=lf
/**/*.entitlements                           text eol=lf
/**/*.xib                                    text eol=lf
/**/*.storyboard                             text eol=lf

# project
/LICENSE                                     text eol=lf
