# common

# system - windows
/**/desktop.ini

# system - macintosh
/**/.DS_Store

# environment - git
/**/.git

# environment - xmake
/**/.xmake

# environment - node.js
/**/package-lock.json
/**/node_modules

# environment - gradle
/**/.gradle

# environment - flutter
/**/pubspec.lock
/**/.dart_tool
/**/.flutter-plugins-dependencies
/**/default.profraw

# environment - visual studio
/**/.vs
/**/*.vcxproj.user
/**/*.csproj.user

# environment - visual studio code
/**/.vscode

# environment - xcode
/**/xcuserdata

# environment - jetbrains
/**/.idea

# project
/.local
