# Global

# System - Windows
/**/desktop.ini

# System - Macintosh
/**/.DS_Store

# Environment - Git
/.git

# Environment - Xmake
/**/.xmake

# Environment - Gradle
/**/.gradle

# Environment - Flutter
/**/pubspec.lock
/**/.dart_tool
/**/.flutter-plugins
/**/.flutter-plugins-dependencies

# Environment - Visual Studio
/**/.vs
/**/*.vcxproj.user
/**/*.csproj.user

# Environment - Visual Studio Code
/**/.vscode

# Environment - Xcode
/**/xcuserdata
/**/xcshareddata

# Environment - IntelliJ IDEA
/**/.idea

# Common
/common/certificate

# Module - Kernel
/Kernel/.build
/Kernel/.project

# Module - Shell
/Shell/.build
/Shell/.project

# Module - Script
/Script/.build

# Module - Assistant
/Assistant/build
/Assistant/.metadata
/Assistant/windows/flutter/ephemeral
/Assistant/linux/flutter/ephemeral
/Assistant/macos/Flutter/ephemeral
/Assistant/macos/Pods
/Assistant/macos/Podfile
/Assistant/macos/Podfile.lock
/Assistant/android/local.properties
/Assistant/android/.kotlin
/Assistant/android/build
/Assistant/ios/Flutter/ephemeral
/Assistant/ios/Flutter/Generated.xcconfig
/Assistant/ios/Flutter/flutter_export_environment.sh
/Assistant/ios/Flutter/Flutter.podspec
/Assistant/ios/Pods
/Assistant/ios/Podfile
/Assistant/ios/Podfile.lock
/Assistant/ios/.symlinks

# Module - AssistantPlus
/AssistantPlus/.build

# Miscellaneous
/.local
# git clean -fdx -e /.local
