
/**/.vs
/**/.vscode
/**/.idea

/Kernel/.build
/Kernel/.xmake
/Kernel/.project

/Shell/.build
/Shell/.xmake
/Shell/.project

/Script/.build

/Forwarder.Windows/.build
/Forwarder.Windows/package/package.assets.cache
/Forwarder.Windows/package/bin
/Forwarder.Windows/package/obj
/Forwarder.Windows/package/AppPackages

/Forwarder.Macintosh/**/xcuserdata
/Forwarder.Macintosh/**/xcshareddata

/Forwarder.Android/.gradle
/Forwarder.Android/build
/Forwarder.Android/app/build
/Forwarder.Android/local.properties
/Forwarder.Android/keystore.properties

/Forwarder.Iphone/**/xcuserdata
/Forwarder.Iphone/**/xcshareddata

/Assistant/.dart_tool
/Assistant/.flutter-plugins
/Assistant/.flutter-plugins-dependencies
/Assistant/.metadata
/Assistant/pubspec.lock
/Assistant/build
/Assistant/windows/flutter/ephemeral
/Assistant/linux/flutter/ephemeral
/Assistant/macos/Flutter/ephemeral
/Assistant/macos/Pods
/Assistant/macos/Podfile
/Assistant/macos/Podfile.lock
/Assistant/macos/**/xcuserdata
/Assistant/macos/**/xcshareddata
/Assistant/android/.gradle
/Assistant/android/local.properties
/Assistant/android/keystore.properties
/Assistant/ios/Flutter/ephemeral
/Assistant/ios/Flutter/Generated.xcconfig
/Assistant/ios/Flutter/flutter_export_environment.sh
/Assistant/ios/Pods
/Assistant/ios/Podfile
/Assistant/ios/Podfile.lock
/Assistant/ios/**/xcuserdata
/Assistant/ios/**/xcshareddata

/AssistantPlus.Windows/bin
/AssistantPlus.Windows/obj
/AssistantPlus.Windows/Helper.csproj.user
/AssistantPlus.Windows/.editorconfig

/.unused
/.distribution
/.build.txt
