/build
/.metadata
/windows/flutter/ephemeral
/windows/out
/linux/flutter/ephemeral
/macos/Flutter/ephemeral
/macos/Pods
/macos/Podfile
/macos/Podfile.lock
/android/local.properties
/android/.kotlin
/android/build
/android/app/src/main/jniLibs/arm64-v8a/libc++_shared.so
/ios/Flutter/ephemeral
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Flutter.podspec
/ios/Pods
/ios/Podfile
/ios/Podfile.lock
/ios/.symlinks
