name: assistant
version: 139.0.0+139
publish_to: 'none'
environment:
  sdk: ^3.11.0
dependencies:
  flutter:
    sdk: flutter
  ffi: 2.2.0
  win32: 5.15.0
  path: 1.9.1
  async: 2.13.0
  collection: 1.19.1
  stack_trace: 1.12.1
  decimal: 3.2.4
  json5: 0.8.2
  vdf: 1.1.0
  archive: 4.0.9
  provider: 6.1.5+1
  path_provider: 2.1.5
  material_symbols_icons: 4.2906.0
  single_child_two_dimensional_scroll_view: 0.0.3
  super_drag_and_drop: 0.9.1
  dynamic_color: 1.8.1
  window_manager: 0.5.1
  url_launcher: 6.3.2
  app_links: 7.0.0
  file_selector: 1.1.0
  flutter_local_notifications: 20.1.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: 6.0.0
flutter:
  uses-material-design: true
  assets:
    - asset/
